.expand-main{
    height: 700px;
    background-color: rgb(212, 211, 211);
}
.expand{
    height: 600px;
}
.bg-smoke{
    background-color: rgb(236, 233, 233);
    height: 300px;
}
.img-dim{
    width: 40px;
    height: 30px;
}